# binaries
*.elf
*.3dsx
*.smdh
*.cia
linux/ctroller

# build directories
3DS/build
linux/build
linux/bin

# build files
*.gz

# IDE files
.idea/*

# MISC
cmake-build-debug/*
Makefile
linux/.release_time
cmake-build-android/*
linux/cmake-build-debug/*
linux/cmake-build-android/*
CMakeLists.txt
linux/.idea/*
linux/CMakeLists.txt
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
